:root{
    --bg:#FFF7F0;
    --brown:#4B2E1F;
    --caramel:#A56A43;
    --soft:#F3E3D3;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins';
}

body{
    margin:0;
    font-family:Poppins;
    background:#FBF3EC;
    color:#4B2E1E;
}

.btn-login{
    padding:8px 14px;
    border-radius:20px;
    border:1px solid #B06E45;
    background:white;
    text-decoration:none;
    color:#4B2E1E;
    font-size:14px;
}

/* NAVBAR */
.logo{
    font-family:Playfair Display;
    font-weight:700;
    font-size:22px;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 60px;
    background:#FFF6F0;
}

.navbar nav{
    display:flex;
    gap:20px;
}

.navbar nav a{
    text-decoration:none;
    color: #A56A43;
    font-size:14px;
}

.navbar nav a.active{
    font-weight:700;
}

.nav-right{
    display:flex;
    align-items:center;
    gap:12px;
}

.nav-right input{
    padding:8px 14px;
    border-radius:20px;
    border:1px solid #E7CDB6;
}

.nav-right button{
    padding:8px 14px;
    border-radius:20px;
    border:1px solid #B06E45;
    background:white;
}

.profile-icon{
    width:42px;
    height:42px;
    border-radius:50%; /* INI KUNCI BULAT */
    overflow:hidden;

    display:flex;
    align-items:center;
    justify-content:center;

    background:#B06E45;
    flex-shrink:0;
}

.profile-icon:hover{
    transform:scale(1.05);
}


/* TITLE */
.page-title{
    padding:40px 60px 10px;
}

.page-title h1{
    font-family:'Playfair Display';
    font-size:40px;
}

/* CONTAINER */
.container{
    display:flex;
    gap:40px;
    padding:40px 60px;
}

/* CARD */
.card{
    flex:1;
    background:white;
    border-radius:20px;
    padding:30px;
}

/* LEFT ROW */
.row{
    display:flex;
    justify-content:space-between;
    padding:12px 0;
    border-bottom:1px solid #f0e0d5;
}

.total{
    font-weight:700;
    font-size:18px;
}

/* PAYMENT */
label{
    display:block;
    margin:15px 0;
}

.qr-box{
    margin-top:20px;
    height:220px;
    border-radius:15px;
    background:#f6e7db;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:30px;
    font-weight:700;
    color:var(--caramel);
}

.status{
    margin-top:20px;
    color:var(--caramel);
    font-weight:500;
}

/* HIDE RADIO DEFAULT */
input[type="radio"]{
    appearance:none;
    -webkit-appearance:none;
    width:16px;
    height:16px;
    border:2px solid #B06E45;
    border-radius:50%;
    display:inline-block;
    position:relative;
    cursor:pointer;
    margin-right:8px;
}

/* KETIKA DIPILIH */
input[type="radio"]:checked{
    background:#B06E45;
    border:2px solid #B06E45;
}

/* DOT DALAM */
input[type="radio"]:checked::after{
    content:"";
    width:6px;
    height:6px;
    background:white;
    border-radius:50%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}